pkgbase = matane-bin
	pkgdesc = Open-source desktop manga reader with a sandboxed extension system
	pkgver = 0.1.0_beta.1
	pkgrel = 1
	url = https://github.com/mataneorg/matane
	arch = x86_64
	license = GPL-3.0-only
	depends = alsa-lib
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	depends = xdg-utils
	optdepends = libappindicator-gtk3: tray icon on desktops without StatusNotifier support
	provides = matane
	conflicts = matane
	options = !strip
	options = !debug
	source = Matane-0.1.0-beta.1-linux-x64.tar.gz::https://github.com/mataneorg/matane/releases/download/v0.1.0-beta.1/Matane-0.1.0-beta.1-linux-x64.tar.gz
	source = matane-0.1.0-beta.1.png::https://raw.githubusercontent.com/mataneorg/matane/v0.1.0-beta.1/apps/desktop/resources/icon.png
	source = matane.sh
	source = matane.desktop
	sha256sums = 7ca2a2a311c84e1a910797a19b68b418b0f593529fe5c9f32c837ebe94913ac7
	sha256sums = bf77e75640062c07a8c2c23a4bf22f8ac719ef106ad76e3d39eb307138eb1088
	sha256sums = 27f92835bee29410970973343996724e5883574f548328f7a9a450e5855c6006
	sha256sums = 7a984ee59db052e17f1e4ff6609e7706e150e1c4c35b419940219c5389c4233a

pkgname = matane-bin
