[Desktop Entry]
Name=Matane
GenericName=Manga Reader
Comment=Manga reader with a sandboxed extension system
Exec=matane %U
Terminal=false
Type=Application
Icon=dev.sukun.matane
StartupWMClass=matane
Categories=Graphics;Viewer;
Keywords=manga;manhwa;manhua;comic;webtoon;reader;
